<h2>Code of Conduct</h2>

Auf allen Veranstaltungen gilt <a href="https://berlincodeofconduct.org/de" target="_blank">der Berliner Verhaltenscodex</a>.

<h3>Wenn du inakzeptables Verhalten erlebst</h3>
Wenn Du von inakzeptablem Verhalten betroffen bist, dieses beobachtest oder andere Anliegen hast, teile dies bitte so bald wie möglich einer für die Veranstaltung verantwortlichen Person mit.

<h4>Contact Info</h4>
<ul>
  <li>
    Email uns auf contact@codecurious.org
  </li>
  <li>
    Via Twitter Direktnachricht <a href="https://twitter.com/messages/28624302-553622948">@codecurious_bln</a>.
  </li>
</ul>

Falls Du lieber eine Organisatorin persönlich ansprechen möchtest, kontaktiere
<ul>
  <li>
    Ferdous (English/Deutsch) per email <a href="mailto:itrytocode@gmail.com">itrytocode@gmail.com</a> oder Twitter <a href="https://twitter.com/@ferbsx">@ferbsx</a>
  </li>
  <li>
    Kaja (Deutsch/English) per email <a href="mailto:kaja@codecurious.org">kaja@codecurious.org</a> oder Twitter <a href="https://twitter.com/@AlizeNero">@AlizeNero</a>
  </li>
</ul>

Zusätzlich stehen die Veranstaltenden zur Verfügung, um Community-Mitgliedern dabei zu helfen, mit den lokalen Ordnungs- und Strafverfolgungskräften in Kontakt zu treten als auch ihr Sicherheitsgefühl anderweitig wieder herzustellen. Im Rahmen von Veranstaltungen mit persönlicher physischer Anwesenheit stellen die Veranstaltenden auf Wunsch der betroffenen Person auch Begleitung zur Verfügung.
