<h2>Code of Conduct</h2>

All events are covered under the <a href="https://berlincodeofconduct.org/" target="_blank">Berlin Code of Conduct</a>.
Additionally, steps will be taken to ensure the privacy and safety of members attending.

<h3>Reporting Guidelines</h3>
If you are subject to or witness unacceptable behavior, or have any other concerns, please notify a community organizer as soon as possible.

<h3>Contact information</h3>
<ul>
  <li>
    Email us at contact@codecurious.org
  </li>
  <li>
    Via Twitter direct messages <a href="https://twitter.com/messages/28624302-553622948">@codecurious_bln</a>.
  </li>
</ul>

If you would prefer to speak directly with individual organizers, you can contact these people
<ul>
  <li>
    Ferdous (English/Deutsch) via email <a href="mailto:itrytocode@gmail.com">itrytocode@gmail.com</a> and Twitter <a href="https://twitter.com/@ferbsx">@ferbsx</a>
  </li>
  <li>
    Yonatan (English) via email <a href="mailto:yonatan@shuhugah.com">yonatan@shuhugah.com</a> and Twitter <a href="https://twitter.com/@shushugah">@shushugah</a>
  </li>
  <li>
    Kaja (Deutsch/English) via email <a href="mailto:kaja@codecurious.org">kaja@codecurious.org</a> and Twitter <a href="https://twitter.com/@AlizeNero">@AlizeNero</a>
  </li>
</ul>

Additionally, community organizers are available to help community members engage with local law enforcement or to otherwise help those experiencing unacceptable behavior feel safe. In the context of in-person events, organizers will also provide escorts as desired by the person experiencing distress.
