<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <ul class="contact-list">
          {%- if site.email -%}
          <li>
            <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
          {%- endif -%}
          <li>
            <a href="/de/impressum">Impressum</a>
          </li>
        </ul>
      </div>
      <div class="footer-col one-half">
        <p>{{- site.description | escape -}}</p>
      </div>
      <div class="footer-col social-links">
        {%- include social.html -%}
      </div>
      <div class="footer-col signup-button">
        <a class="signup-button" href="{{ site.signup }}">sign up for newsletter</a>
      </div>
    </div>
  </div>
</footer>
