<div>
  {% if page.layout == 'single_event' %}
    {% assign posts=site.posts | where:"i18n_key", page.i18n_key | sort: 'lang' %}
    {% if posts.size == 0 %}
        {% assign posts=site.pages | where:"i18n_key", page.i18n_key | sort: 'lang' %}
    {% endif %}
    {% if posts.size > 1 %}
      <div class="lang-options">
        {% for post in posts %}
          {%  if post.lang != page.lang %}
          <h3>🌍 <a title="{{ site.data.translation['viewIn'][page.lang] }} {{ site.data.translations.languages[post.lang].label }}" class="{{post.lang}}" href="{{ post.url }}">{{ site.data.translation['viewIn'][post.lang]}}</a></h3>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}
</div>
