---
layout: default
---
{% include edit_on_github.html %}
<div class="home">
  {{ content }}

  {%- if site.events.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Events" }}</h2>
    <ul class="post-list">
      {%- for event in site.events -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ event.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ event.url | relative_url }}">
            {{ event.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ event.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
